<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>antonio pitasi's digital garden</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <a href="/">👨‍🌾 garden.anto.pt</a>
    </header>
    <main class="content">
    {{block "body" .}}Nothing to see here{{end}}
    </main>
    <footer>
        <div class="socials">
            <a href="https://github.com/pitasi">github</a>
            <a href="https://bsky.app/anto.pt">bluesky</a>
            <a href="https://anto.ph">photos</a>
            <a href="https://anto.pt">blog</a>
            <a href="https://github.com/Pitasi/x/tree/main/garden">[src code]</a>
        </div>
        an indie website by <a href=https://anto.pt>antonio pitasi</a>
    </footer>
</body>
</html>
