<section class="intro">
  <img src="/static/images/propic.webp" alt="logo" width=288  height=354  loading="lazy">
  <div class="intro-inner">
    <div class="text">
      <p>
        I'm Antonio, a software engineer with a passion for
                distributed systems and clean maintainable software.
      </p>
      <p>
        Currently co-founder of
        <a href="https://wardenprotocol.org" class="btn-action">Warden Protocol</a>.
      </p>
      <p>
        I first got into blockchains working at
        <a href="https://emeris.com" class="btn-action">Emeris</a>
        for
        <a href="https://ignite.com" class="btn-action">Ignite</a>
        (previously known as
        <a href="https://tendermint.com" class="btn-action">Tendermint</a>).
      </p>
      <p>
        Before that, I started a meetup group called
        <a href="https://pisa.dev" class="link">pisa.dev</a>,
                and I was among the first engineers for projects such as
        <a href="https://traent.com" class="link">Traent</a>
        and
        <a href="https://zerynth.com" class="link">Zerynth</a>.
      </p>
    </div>
  </div>
  <div></div>
</section>
