{{ define "now-playing" }}
<a href="https://last.fm/user/zaphodias"><span id="now-playing"></span></a>
<script>
  const evtSource = new EventSource("/now-playing");
  const txt = document.getElementById("now-playing");
  evtSource.addEventListener("now-playing", function(event) {
    if (event.data) {
      const dataobj = JSON.parse(event.data);
      txt.innerHTML = `🎶 I'm listening to ${dataobj.Name} - ${dataobj.Artist} right now 🎶`;
    } else {
      txt.innerHTML = "";
    }
  })
</script>
{{ end }}
