{{define "title"}}{{ .Article.Title }} - Antonio Pitasi{{end}}
{{define "headers"}}
<meta name="description" content="{{ .Article.Description }}">
<meta property="og:site_name" content="Antonio Pitasi">
<meta property="og:url" content="https://anto.pt/articles/{{ .Article.Slug }}">
<meta property="og:title" content="{{ .Article.Title }}">
<meta property="og:description" content="{{ .Article.Description }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://anto.pt/articles/covers/{{ .Article.Slug }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://anto.pt/articles/covers/{{ .Article.Slug }}">
<meta name="twitter:site" content="@zaphodias">
<meta name="twitter:creator" content="@zaphodias">
<meta name="twitter:title" content="{{ .Article.Title }}">
<meta name="twitter:description" content="{{ .Article.Description }}">
{{end}}
{{define "body"}}
    <div class="content">
        {{ template "nav.html" . }}
        <article>
            <h1>{{ .Article.Title }}</h1>
            <p class="date">Written on {{ .Article.Date.Format "02 Jan, 2006" }}.</p>
            {{ .Article.Content }}
        </article>
        {{ template "intro.html" . }}
    </div>
    {{ template "footer.html" . }}
{{end}}
