<!DOCTYPE html>
<html>
  <head>
    {{ template "base-headers" .BaseHeaders }}
    <title>Uses - Antonio Pitasi</title>
    <meta name="description" content="Antonio Pitasi: Cosmonaut, software engineer, and amateur photographer. Read articles, learn about my projects, and connect.">
    <meta property="og:site_name" content="Antonio Pitasi">
    <meta property="og:url" content="https://anto.pt/">
    <meta property="og:title" content="Antonio Pitasi">
    <meta property="og:description" content="Antonio Pitasi: Cosmonaut, software engineer, and amateur photographer. Read articles, learn about my projects, and connect.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://anto.pt/socialimg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://anto.pt/socialimg">
    <meta name="twitter:site" content="@zaphodias">
    <meta name="twitter:creator" content="@zaphodias">
    <meta name="twitter:title" content="Antonio Pitasi">
    <meta name="twitter:description" content="Antonio Pitasi: Cosmonaut, software engineer, and amateur photographer. Read articles, learn about my projects, and connect.">
  </head>
  <body>
    <div class="content">
      {{ template "nav.html" .Nav }}
      <div class="uses">
        <ul>
          {{ range .Uses.List }}
          <li>
            <a href="/uses/{{ .Slug }}">
              <img src="{{ .Icon }}" loading=lazy>
              {{ .Title }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ template "footer.html" }}
  </body>
</html>
